{% extends 'html/layout.html' %}
{% block content %}
<form class="container justify-content col-4 needs-validation">
    <div class="mb-3">
        <label for="login" class="row form-label">Login</label>
        <input class="row form-control" type="text" id="login" required>
    </div>
    <div class="mb-3">
        <label for="password" class="row form-label">Passwd</label>
        <input class="row form-control" type="password" id="password" required>
    </div>
    <button class="row btn btn-success" id="sign-in" type="button">Sign in</button>
</form>

<script src="/templates/js/auth.js"></script>
{% endblock %}