{% extends 'html/layout.html' %}
{% block content %}
<form class="container justify-content col-4 needs-validation">
    <div class="form-group d-none">
        <label for="id" class="row form-label">Login</label>
        <input name="id" value="{{ user.id }}" id="id" class="row form-control" type="number">
    </div>
    <div class="mb-3 form-group">
        <label for="login" class="row form-label">Login</label>
        <input name="login" value="{{ user.login }}" id="login" class="row form-control" type="text">
    </div>
    <div class="mb-3 form-group">
        <label for="password" class="row form-label">Passwd</label>
        <input name="password" value="{{ user.password }}" id="password" class="row form-control" type="password">
    </div>
    <div class="mb-3 form-group">
        <label for="last_name" class="row form-label">Last Name</label>
        <input name="last_name" value="{{ user.last_name }}" id="last_name" class="row form-control" type="text">
    </div>
    <div class="mb-3 form-group">
        <label for="first_name" class="row form-label">First Name</label>
        <input name="first_name" value="{{ user.first_name }}" id="first_name" class="row form-control" type="text">
    </div>
    <div class="mb-3 form-group">
        <label for="is_admin" class="form-label">Is Admin</label>
        <input name="is_admin" id="is_admin" class="form-check-input" type="checkbox" {% if user.is_admin %} checked {% endif %}>
    </div>
    <button id="edit" class="btn btn-success" type="button">Save</button>
</form>
<script src="/templates/js/user-edit.js"></script>
{% endblock %}