{% extends 'html/layout.html' %}
{% block content %}
<form class="container justify-content col-4 needs-validation">
    <div class="mb-3 form-group">
        <label for="login" class="row form-label">Login</label>
        <input name="login" id="login" class="row form-control" type="text" required>
    </div>
    <div class="mb-3 form-group">
        <label for="password" class="row form-label">Passwd</label>
        <input name="password" id="password" class="row form-control" type="password" required>
    </div>
    <div class="mb-3 form-group">
        <label for="last_name" class="row form-label">Last Name</label>
        <input name="last_name" id="last_name" class="row form-control" type="text" required>
    </div>
    <div class="mb-3 form-group">
        <label for="first_name" class="row form-label">First Name</label>
        <input name="first_name" id="first_name" class="row form-control" type="text" required>
    </div>
    <div class="mb-3 form-group">
        <label for="is_admin" class="form-label">Is Admin</label>
        <input name="is_admin" id="is_admin" type="checkbox">
    </div>
    <button id="save" type="button" class="btn btn-success">Save</button>
</form>
<script src="/templates/js/user-create.js"></script>
{% endblock %}